<!-- <p>header works!</p> -->
<nav class="navbar">
    <div class="navbar-logo">
      <img src="https://th.bing.com/th/id/OIP.b00if7Sqym_8Ta9C5Viu9wHaDt?w=660&h=330&rs=1&pid=ImgDetMain" class="logo" alt="Logo" />
    </div>
    <div class="navbar-links-container">
    <ul class="navbar-links">
      <li><a routerLink="/"><b>Home</b></a></li>
      <li><a routerLink="/updates"><b>Updates</b></a></li>
      <li><a routerLink="/about"><b>About</b></a></li>
    </ul>
    </div>
    <div class="navbar-actions">
      <button class="btn1">Play Now</button>
      <button class="btn2">Sign Up</button>
    </div>
</nav>
  