<div class="about-section">
    <div class="image-container">
        <img src="assets/lol.png" alt="League of Legends" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
    </div>
    <div class="container mb-5">
        <h2>About League of Legends</h2>
        <div class="text-white">

            <p>League of Legends (LoL) is a multiplayer online battle arena video game developed and published by Riot Games. Inspired by Defense of the Ancients, the game follows a freemium model. The game was released on October 27, 2009. An abridged version of the game called League of Legends: Wild Rift for mobile and console, was announced on October 15, 2019.</p>
            <p>In League of Legends, players assume the role of a "champion" with unique abilities and battle against a team of other player- or computer-controlled champions. The goal is usually to destroy the opposing team's "Nexus", a structure that lies at the heart of a base protected by defensive structures. Each League of Legends match is discrete, with all champions starting off fairly weak but increasing in strength by accumulating items and experience over the course of the game.</p>
            <p>League of Legends was well received upon its release in 2009, and has since grown in popularity, with an active and expansive fanbase. By July 2012, League of Legends was the most played PC game in North America and Europe in terms of the number of hours played. As of January 2014, over 67 million people played League of Legends per month, 27 million per day, and over 7.5 million concurrently during peak hours.</p>
        </div>
    </div>
</div>