<div class="container">
    <div class="row">
        <!-- First Card -->
        <div class="col d-flex">
            <div class="card flex fill">
                <img class="card-img-top" src="assets/1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PAINTINGS FRAMED IN HALF-LIGHT</h5>
                    <p class="card-text">
                        <br>
                        No mercy from my mind tonight.
                        <br>
                        I stand in a glade and imagine it drowning in sights unreal. Grass melts. Rocks swirl into twisted faces. Leaves turn to liquid and drip down branches, bleeding into pools.
                        <br>
                        The moon is a closed eye.
                        <br>
                        Brush in hand, my ethereal palette emerges.
                        <br>
                        Memories resurface.
                        <br>
                        I repaint, relive...<br>
                    </p>
                    <a href="#" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <!-- Second Card -->
        <div class="col d-flex">
            <div class="card flex-fill">
                <img class="card-img-top" src="assets/2.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MILIO'S SUPER-SPECIAL ADVENTURE REPORTS</h5>
                    <p class="card-text">
                        Greetings, family! It is I, Milio, with my first official Adventure Report!
                        I can't believe it's been three whole days since I left home. 
                        I made it safely to my first village and I'm ready to sleep in a REAL bed tonight. No more jungle floor! 
                        I can smell dinner too, mmm... (But your cooking is way better, Mamá! Yours too, Meli!)<br>
                    </p>
                    <a href="#" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <!-- Third Card-->
        <div class="col d-flex">
            <div class="card flex-fill">
                <img class="card-img-top" src="assets/Nilah.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AN INTIMATE EVENING AT OYSTER BILL'S</h5>
                    <p class="card-text">

                        You will know joy
                        <br>
                        You will be a hero
                        <br>
                        And you will pass into legend as all great heroes do
                        <br>
                        The only price I ask for such treasures
                        <br>
                        Is you
                        <br>
                        —The Cycle of Ashlesh: Chapter Ten, Verse Seven
                    </p>
                    <a href="#" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
        <!-- Fourth Card -->
        <div class="col d-flex">
            <div class="card flex-fill">
                <img class="card-img-top" src="assets/3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">THE BOYS AND BOMBOLINI</h5>
                    <p class="card-text">
                        There existed, among the multitude of disgusting Bilgewater shipping warehouses filled with rusted knives and arms-length carnivorous rats, 
                        one Bilgewater shipping warehouse devoid of such things. Owned by a Piltovan arms dealer whose relative was recently murdered 
                        (and skinned and stuffed into a dockside horror house)</p>
                    <a href="#" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>